{% extends "client/layout_client.html" %}
{% block body %}
<div class="container-fluid">

    {% if velos_commande %}
        <h3>Récapitulatif de la commande sélectionnée</h3>
        <p><strong>Etat de la commande :</strong> {{ commande.libelle }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Prix total</th>
                </tr>
            </thead>
            <tbody>
                {% for ligne in velos_commande %}
                <tr>
                    <td>{{ ligne.nom }}</td>
                    <td>{{ ligne.quantite }}</td>
                    <td>{{ ligne.prix }} €</td>
                    <td>{{ ligne.prix_ligne }} €</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <strong>Adresse livraison :</strong>
            {{ commande_adresses.nom_livraison }} {{ commande_adresses.rue_livraison }} {{ commande_adresses.code_postal_livraison }} {{ commande_adresses.ville_livraison }}
            <br>
            <strong>Adresse facturation :</strong>
            {% if commande_adresses.adresse_identique == 'adresse_identique' %}
                Adresse identique
            {% else %}
                {{ commande_adresses.nom_facturation }} {{ commande_adresses.rue_facturation }} {{ commande_adresses.code_postal_facturation }} {{ commande_adresses.ville_facturation }}
            {% endif %}
        </div>
        <hr>
    {% endif %}

    <h3>Toutes mes commandes</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date de commande</th>
                <th>Nombre de vélos</th>
                <th>Coût total</th>
                <th>Etat de la commande</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{ commande.date_achat.strftime('%d-%m-%Y') }}</td>
                <td>{{ commande.nbr_velos }}</td>
                <td>{{ "{:,.2f} €".format(commande.prix_total) }}</td>
                <td>{{ commande.libelle }}</td>
                <td>
                    <a href="/client/commande/show?id_commande={{ commande.id_commande }}">
                        <button class="btn btn-primary">Détails</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}